/*
# is for id
. is for classes
*/
body{/*this is a commnet here*/
background-color: azure;  
    font-family: sans-serif;
    padding: 15px;
}
h1, h2{
    text-align: center;
}
h3{
    text-align: center;
    font-size: 1em;
}
th{
    padding: 15px;   
    text-align: left;
} 
td {
  border: 1px solid black;
  padding: 15px;  
}
table{
    border: 1px solid black;
    background-color: white;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
#smartTable{
     background-image: url(../imgs/smartphone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;   
}
#nSwitch{
    background-image: url(../imgs/switch.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;  
}
.arrow{
    width: 20px;
}
tr{
    text-align: center;
}
p{
    text-align: center;
    font-family: sans-serif;
    text-align: justify;
}
.logoImg{
    height: 50px;
    border-radius: 5px;
}
.gameImg{
    height: 100px;
}
#formTable{
    width: 40%;
    background-color: transparent;
}
#formTable{
    border: 1px;
}
#formTable td{
    border: 1px;
}
.tag{
    text-align: right
}